*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Unbounded", sans-serif !important;

}
nav{
    border: 1px rgb(183, 183, 183) solid;
}
.nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}
.nav_logo a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.nav_link{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.nav_link a{
    text-decoration: none;
    color: black;
}
.nav_link a:hover{
    color: #333333;
}
.nav_burger{
    display: none;
}




@media (max-width: 1024px) {
    .nav_link{
        display: none;
    }
    .nav_contact{
        display: none;
    }
    .nav_logo{
        font-size: 20px;
    }
    .nav_burger{
        display: block;
        width: 30px;
    }
}



.header_text{
    display: flex;
    justify-content: space-between;
    margin:70px;
    margin-top: 40px;
}
.header_text h1{
    font-size: 90px;
}
.header button{
    margin-top: 200px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: #333333;
    color: white;
}



@media (max-width: 1024px) {
    .header_text{
        display: flex;
        flex-wrap: wrap;
    }
    .header_text h1{
        font-size: 70px;
    }
    .header button{
        margin-top: 50px;
    }
    .header p{
        margin-top: 50px;
    }
}







.card_circle{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;

}
.card_circle1{
    border: 1px gray solid;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 120px;
    color: #333333;
}
.card_circle2{
    border: 1px gray solid;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 100px;
    color: #333333;
}
.card_circle3{
    border: 1px gray solid;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 100px;
    color: #333333;
}
.card_circle1 h1{
    font-size: 100px;
}
.card_circle2 h1{
    font-size: 100px;
}
.card_circle3 h1{
    font-size: 100px;
}
.main_img1{
    display: flex;
    justify-content: center;
    margin-top: -150px;
}
.main_img{
    display: flex;
    justify-content: center;
    width: 900px;
}



@media (max-width: 1024px) {
    .card_circle{
        display: flex;
        flex-wrap: wrap;
    }
    .main_img{
        width: 500px;
        margin-top: 50px;
    }
}




.main_text3{
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: 100px;
}
.main_text33 h1{
    font-size: 90px;
}
.main_text33 button{
    width: 200px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin-top: 50px;
}
.text1{
    display: flex;
    align-items: center;
    gap: 124px;
}
.text2{
    display: flex;
    align-items: center;
    gap: 95px;
    margin-top: 10px;
}
.text3{
    display: flex;
    align-items: center;
    gap: 157px;
    margin-top: 10px;
}
.text4{
    display: flex;
    align-items: center;
    gap: 104px;
    margin-top: 10px;
}
.text5{
    display: flex;
    align-items: center;
    gap: 164px;
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .main_text3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
     .main_text3 h4{
        font-size: 20px;
     }
     .main_text33 button{
        background-color: #333333;
        color: white;
        display: flex;
     }
}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    border: 1px #c8c8c8 solid;
    padding: 50px;
}
.ul{
    display: flex;
    gap: 50px;
}



@media (max-width: 1024px) {
    .footer{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
}