*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Unbounded", sans-serif !important;

}
nav{
    border: 1px rgb(183, 183, 183) solid;
}
.nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}
.nav_logo a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.nav_link{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.nav_link a{
    text-decoration: none;
    color: black;
}
.nav_link a:hover{
    color: #333333;
}
.nav_burger{
    display: none;
}




@media (max-width: 1024px) {
    .nav_link{
        display: none;
    }
    .nav_contact{
        display: none;
    }
    .nav_logo{
        font-size: 20px;
    }
    .nav_burger{
        display: block;
        width: 30px;
    }
}




.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px;
}
.header {
    font-size: 80px;
    color: #333333;
}
.header button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}




@media (max-width: 1024px) {
    .header{
        display: flex;
        flex-wrap: wrap;
    }
    .header h1{
        font-size: 70px;
    }
    .header button{
        width: 200px;
        padding: 20px;
    }
}




.main{
    width: 100%;
    margin: 200px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
    
}

.toyota_card{
    background: url(../img/Rectangle\ 12\ \(3\).png) no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.toyota_card_2{
    background: url(../img/Rectangle\ 13\ \(1\).png) no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.toyota_card_3{
    background: url(../img/Rectangle\ 12\ \(4\).png) no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.toyota_card_4{
    background: url(../img/Rectangle\ 13\ \(2\).png) no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.toyota_card_5{
    background: url(../img/Rectangle\ 12\ \(5\).png) no-repeat center center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.toyota_card_6{
    background: url(../img/7016c2ede1e3fc3b358792263629dc44\ 1\ \(2\).png) no-repeat center center #3A3B35;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
}
.toyota_h2{
    color: white;
}
.name_toyota{
    color: white;
}
.rent_btn{
    background-color: white;
    padding: 10px;
    width: 100px;
    border-radius: 25px;
}
.btn_miles{
    border: 1px black solid;
	background: transparent;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    color: white;
}
.grid-card{
    padding: 50px;
}

@media (max-width: 1280px) {
    .main{
        display: grid;
      grid-template-columns: 1fr;
    }
    .toyota_card{
        background: none;
    }
    .toyota_card_2{
        background: none;
    }
    .toyota_card_3{
        background: none;
    }
    .toyota_card_4{
        background: none;
    }
    .toyota_card_5{
        background: none;
    }
    .toyota_card_6{
        background: none;
    }
    .img-none{
        display: block;
        width: 100%;
    }
    .toyota_h2{
        color: black;
    }
    .name_toyota{
        color: black;
    }
    .btn_miles{
        color: black;
    }
    
}





.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    border: 1px #c8c8c8 solid;
    padding: 50px;
}
.ul{
    display: flex;
    gap: 50px;
}



@media (max-width: 1024px) {
    .footer{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
}